/**
 * Site header
 */

.site-header {
	background-color: pink;
	min-height: 36px;
}


/**
 * Site footer
 */

.site-footer {
	background-color: lime;
	min-height: 120px;
}


/**
 * Page content
 */


/**
 * Posts
 */
